.welcome {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.welcome__caption {
    margin-bottom: 0.5em;
}

.welcome__body {
    padding: 1em;
    box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.2);
    min-width: 260px;
    max-width: 310px;
}

.welcome__name-input {
    margin-bottom: 1em;
}

.welcome__room-wrapper {
}

.welcome__room-join {
    display: flex;
    margin-bottom: 1em;
}

.welcome__room-join-button {
    margin-left: 0.5em;
}

.welcome__alert {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2em;
    margin: 0;
    transition-property: min-height, height, border-width, padding, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.welcome__alert--hidden {
    color: rgba(0, 0, 0, 0);
    min-height: 0;
    height: 0;
    border-width: 0;
    padding: 0;
}

.room-or {
    position: relative;
}

.room-or__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 2em;
    border-radius: 5px;
}

@media only screen and (max-width: 480px) {
    .welcome__caption {
        font-size: 3em;
    }
}
