.chat {
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: minmax(0, auto) minmax(0, 4fr) minmax(120px, 1fr);
    grid-template-areas:
        "header header"
        "users history"
        "users input";

    gap: 0.5em;
}

.chat__header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat__users-btn {
    display: none;
    margin-right: 1em;
}

.chat__room-id {
    font-size: 1.5em;
    text-align: left;
    flex: auto;
}

.chat__exit {
}

.chat__users {
    grid-area: users;
}

.chat__history {
    grid-area: history;
}

.chat__send {
    grid-area: input;
}

.chat__users-overlay {
    display: none;
}

.history {
    height: 100%;
}

.history__body {
    overflow-y: auto;
}

.history__message {
    white-space: pre-wrap;
}

.history__date {
    font-size: 0.8em;
}

.input-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.input-panel__text {
    resize: none;
    flex: auto;
}

.input-panel__send {
    margin-left: auto;
    margin-top: 0.5em;
}

@media only screen and (max-width: 480px) {
    .chat__users {
        z-index: 2001;
        position: absolute;
        width: 200px;
        top: 50%;
        left: 0;
        transform: translate(-100%, -50%);
        box-shadow: none;
    }

    .chat__users.chat__users--visible {
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.2);
    }

    .chat__users-overlay {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: black;
        z-index: 2000;

        visibility: collapse;
        opacity: 0;
    }

    .chat__users-overlay.chat__users-overlay--visible {
        visibility: visible;
        opacity: 0.2;
    }

    .chat {
        grid-template-areas:
            "header header"
            "history history"
            "input input";
    }

    .chat__users-btn {
        display: block;
        z-index: 2001;
    }

    .chat__room-id {
        font-size: 1em;
    }
}
