:root {
    --error-color: #ff764d;
    --success-color: #73e673;
}

body {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    height: 100vh;
    min-width: 320px;
    min-height: 400px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.app {
    height: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.2);
}

.app__status-icon {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 1100;
}

.app__welcome {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__spinner {
    position: absolute;
    top: calc(50% - 4rem);
    left: calc(50% - 4rem);
    width: 8rem;
    height: 8rem;
    opacity: 50%;
}

.users {
    height: 100%;
}

.users__list {
    overflow-y: auto;
}

.send-area__main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.send-area__text {
    resize: none;
    flex: auto;
}

.send-area__send {
    margin-left: auto;
    margin-top: 0.5em;
}
